<template>
  <div>
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-row>
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        small
        tile
        @click="enableEditing()"
        v-if="!editing"
        :disabled="loading"
      >Edit</v-btn>
      <v-btn
        color="secondary"
        small
        tile
        @click="disableEditing()"
        v-if="editing"
        class="mr-2"
      >Cancel</v-btn>
      <v-btn
        color="green"
        dark
        small
        tile
        v-if="editing"
        :disabled="loading"
        @click="saveChanges()"
      >Save</v-btn>
    </v-row>
    <v-row>
      <v-col cols="8">
        <div
          v-for="(column, i) in first_col"
          :key="column.value"
          :class="{ 'bg-gray-300': !editing && i % 2 }"
          class="px-2"
        >
          <div v-if="!editing">
            <div v-if="column.type=='image' && values[column.value]"></div>
            <span v-else>
              <v-row>
                <v-col>{{ column.name }}</v-col>
                <v-col>{{ values[column.value] }}</v-col>
              </v-row>
            </span>
          </div>

          <v-card class="mt-3" v-else>
            <v-card-title>{{ column.name }}</v-card-title>
            <v-card-text>
              <v-select
                :label="column.name"
                :multiple="column.multiple"
                :items="options[column.value]"
                absolute
                loader-height="4"
                clearable
                class="mt-4"
                v-model="values[column.value]"
                v-if="column.select"
              ></v-select>

              <v-text-field
                :label="column.name"
                hide-details="auto"
                v-model="values[column.value]"
                v-else
              ></v-text-field>
            </v-card-text>
          </v-card>
        </div>
        <div v-if="values['geo_lng'] && values ['geo_lat']">
          <gmap-map :center="get_lat_lng" :zoom="14" style="width:100%;  height: 400px;">
            <gmap-marker :position="get_lat_lng"></gmap-marker>
          </gmap-map>
        </div>
      </v-col>
      <v-col v-if="values['image_informant']">
        <a :href="values['image_informant']" target="_blank">
          <v-img :src="values['image_informant']" aspect-ratio="1" :eager="true" :contain="true">
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular indeterminate color="teal"></v-progress-circular>
              </v-row>
            </template>
          </v-img>
        </a>
      </v-col>
    </v-row>
    <v-snackbar v-model="snackbar" :color="snack_type">
      {{ snack_message }}
      <v-btn color="white" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  props: ["houseid"],
  data() {
    const first_col = [
      {
        name: "Informant image",
        value: "image_informant",
        fetch: true,
        type: "image"
      },
      {
        name: "Ward number",
        value: "ward_number",
        select: true,
        fetch: true
      },
      {
        name: "House owner",
        value: "house_owner"
      },
      {
        name: "House head",
        value: "house_head"
      },
      {
        name: "Religion",
        value: "family_religion",
        select: true,
        fetch: true
      },
      {
        name: "Ethnicity",
        value: "family_ethnicity",
        select: true,
        fetch: true
      },
      {
        name: "Mother tongue",
        value: "family_mothertongue",
        select: true,
        fetch: true
      },
      {
        name: "Tole name",
        value: "tole_name",
        select: true,
        fetch: true
      },
      {
        name: "House ownership",
        value: "house_ownership",
        select: true,
        fetch: true
      },
      {
        name: "House type",
        value: "house_type",
        select: true,
        fetch: true
      },
      {
        name: "House storey",
        value: "house_storey",
        select: true,
        fetch: true
      },
      {
        name: "Settlement type",
        value: "settlement_type",
        select: true,
        fetch: true
      },
      {
        name: "Toilet availability",
        value: "toilet",
        select: true,
        fetch: true
      },

      {
        name: "Light source",
        value: "light_source",
        select: true,
        fetch: true
      },
      {
        name: "Latitude",
        value: "geo_lat",
        fetch: true
      },
      {
        name: "Longitude",
        value: "geo_lng",
        fetch: true
      }
    ];
    let inputs = {};
    let values = {};
    let original_values = {};
    let options = {};
    first_col.forEach(col => {
      original_values[col.value] = null;
      values[col.value] = null;
      options[col.value] = [];
      inputs[col.value] = {};
      // inputs[col.value].value = null;
      inputs[col.value].loading = false;
    });
    return {
      editing: false,
      loading: false,
      first_col,
      inputs,
      values,
      original_values,
      options,
      snackbar: false,
      snack_message: null,
      snack_type: null
    };
  },
  mounted() {
    // const that = this;
    // that.first_col.forEach(col => {
    //   that.inputs[col.value] = {};
    //   that.inputs[col.value].value = null;
    //   that.inputs[col.value].loading = false;
    // });
    this.update_data();
    // this.enableEditing();
  },

  methods: {
    update_data: function() {
      const that = this;
      that.loading = true;
      axios.get("/admin/json/household/" + this.houseid).then(({ data }) => {
        that.loading = false;
        Object.keys(that.inputs).forEach(col => {
          that.values[col] = data[col] ? data[col] : "";
          that.original_values[col] = data[col] ? data[col] : "";
        });
      });
    },
    get_column_data: function(column) {
      return this.inputs[column].value;
    },

    enableEditing: function() {
      this.editing = true;
      this.fetchAvailableOptions();
    },
    disableEditing: function(nowarn = false) {
      if (nowarn || confirm("Discard unsaved changes?")) {
        this.values = Object.assign({}, this.original_values);
        this.editing = false;
      }
    },

    fetchAvailableOptions: async function() {
      const that = this;
      that.loading = true;
      const fetchables = that.first_col.filter(col => {
        return col.fetch && !that.options[col.value].length;
      });
      let requests = [];

      fetchables.forEach(async column => {
        let request = axios({
          method: "post",
          url: "/admin/json/household/count/" + column.value,
          data: {
            wards: []
          }
        });

        requests.push(request);
      });
      const responses = await Promise.all(requests);
      that.loading = false;

      responses.forEach(response => {
        let column = response.config.url.split("/");
        const data = response.data;
        const array_data = data.map(wrapper => Object.values(wrapper)[0]);
        column = column[column.length - 1];
        that.options[column] = array_data;
      });
    },

    saveChanges: function() {
      let array = [];
      const that = this;
      that.loading = true;
      Object.keys(this.values).forEach(col => {
        array.push({
          column: col,
          value: this.values[col]
        });
      });
      axios({
        method: "post",
        url: "/admin/json/household/" + this.houseid + "/save",
        data: {
          house_ID: this.houseid,
          changes: array
        }
      })
        .then(response => {
          that.loading = false;
          that.snack_type = "success";
          that.snack_message = "Sucessfully edited";
          that.snackbar = true;
          that.disableEditing(true);
          that.update_data();
        })
        .catch(e => {
          console.log(e);
          that.loading = false;
          that.snack_type = "error";
          that.snack_message = "Update failed; please try again.";
          that.snackbar = true;
        });
    }
  },

  computed: {
    get_lat_lng: function() {
      return {
        lat: parseFloat(this.values.geo_lat),
        lng: parseFloat(this.values.geo_lng)
      };
    }
  }
};
</script>

<style></style>
