<template>
    <div>
        <v-overlay :value="loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
        <v-row>
            <v-col cols="10">
                <v-toolbar dense :elevation="0">
                    <v-toolbar-title>
                        Family members
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn
                        tile
                        color="success"
                        small
                        @click="add_member = true"
                    >
                        <v-icon left>mdi-plus</v-icon> Add member
                    </v-btn>
                </v-toolbar>
                <div
                    class="family_member_wrapper my-3"
                    v-for="member in data"
                    :key="member.person_ID"
                >
                    <MemberComponent
                        :dataprop="member"
                        :personid="member.person_ID"
                        @updated="update_data"
                    ></MemberComponent>
                </div>
            </v-col>
        </v-row>

        <addMember
            v-if="add_member"
            :houseid="houseid"
            @sync_changes="sync_changes"
        ></addMember>
    </div>
</template>

<script>
export default {
    props: ["houseid"],
    data() {
        return {
            add_member: false,
            editing: false,
            loading: false,
            data: []
        };
    },

    mounted() {
        this.update_data();
    },

    methods: {
        sync_changes: async function() {
            this.add_member = false;
            await this.update_data();
        },
        update_data: async function() {
            this.loading = true;
            this.data = [];
            const response = await axios.get(
                "/admin/json/member/" + this.houseid
            );
            this.data = await response.data;
            this.loading = await false;
        }
    }
};
</script>

<style></style>
