<template>
  <div>
    <v-toolbar class="pt-3">
      <v-row align="center">
        <v-col cols="4">
          <v-select
            :items="ward_array"
            label="Wards"
            multiple
            absolute
            loader-height="4"
            clearable
            v-model="select_value"
            class="mt-4"
          ></v-select>
        </v-col>
        <v-col cols="auto">
          <v-btn tile outlined color="secondary" @click="updateWard" small>
            <v-icon left>mdi-filter</v-icon>Filter
          </v-btn>
        </v-col>
        <v-col cols="auto" class="px-0">
          <v-btn tile outlined color="secondary" href="./compare" small>
            <v-icon left>mdi-compare</v-icon>Compare
          </v-btn>
        </v-col>
      </v-row>
      <v-spacer></v-spacer>
      <div class="d-flex content-center">
        <v-btn
          color="blue-grey"
          class="mx-2 mt-1 white--text"
          x-small
          href="./purge"
          v-if="auth_user"
        >
          Purge cache
          <v-icon right dark x-small>mdi-refresh</v-icon>
        </v-btn>
        <v-switch v-model="nepali_language" :label="`Nepali`"></v-switch>
      </div>
    </v-toolbar>
    <v-tabs
      v-model="tab"
      background-color="accent-4"
      class="elevation-2"
      :vertical="$vuetify.breakpoint.xl"
    >
      <v-tab v-for="category in categories" :key="category[1]" :href="`#tab-${category[1]}`">
        <v-icon left v-if="category[2]">{{ category[2] }}</v-icon>
        {{ nepali_language? translate_wrapper(category[0], "Nepali"):category[0] }}
      </v-tab>

      <v-tab-item value="tab-demography">
        <demography :selected_ward="selected_ward"></demography>
      </v-tab-item>
      <v-tab-item value="tab-housing">
        <housing :selected_ward="selected_ward"></housing>
      </v-tab-item>
      <v-tab-item value="tab-finance">
        <finance :selected_ward="selected_ward"></finance>
      </v-tab-item>
      <v-tab-item value="tab-health">
        <health :selected_ward="selected_ward"></health>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import translate from "../misc/translate";
export default {
  props: ["project_ward", "auth_user"],
  data() {
    return {
      nepali_language: false,
      tab: null,
      select_value: null,
      selected_ward: [],
      categories: [
        ["Demography", "demography", "mdi-account-group"],
        // ["Agriculture", "agriculture"],
        ["Housing and amenities", "housing", "mdi-home-group"],
        ["Finance", "finance", "mdi-cash-usd"],
        ["Health", "health", "mdi-bottle-tonic-plus"]
      ],
      selected_cat: ["Demography", "demography"],
      ward_array: []
    };
  },
  mounted() {
    for (let i = 1; i <= this.project_ward; i++) {
      this.ward_array.push(i);
    }
    const that = this;
    if (that.$store.getters.getCurrentLanguage == "Nepali") {
      that.nepali_language = true;
    }
  },

  methods: {
    translate_wrapper: function(text, language) {
      return translate(text, language);
    },
    change_cat: function(category) {
      this.selected_cat = category;
    },
    updateWard: function() {
      if (!this.select_value) {
        this.selected_ward = [];
      } else {
        this.selected_ward = this.select_value;
      }
    },
    change_language: function() {
      if (this.nepali_language) {
        this.$store.commit("setLanguage", "Nepali");
      } else {
        this.$store.commit("setLanguage", "English");
      }
    }
  },

  watch: {
    nepali_language: function() {
      this.change_language();
    }
  }
};
</script>
