<template>
  <v-container fluid>
    <div class="flex flex-column w-2/6 m-auto">
      <v-select
        :items="categories.map(cat=>cat[0])"
        label="Category"
        absolute
        loader-height="4"
        clearable
        v-model="select_category"
      ></v-select>
      <div class="flex items-center">
        <v-select
          :items="ward_array"
          label="First ward"
          absolute
          loader-height="4"
          v-model="select_first_ward"
        ></v-select>
        <v-btn x-small class="mx-4" color="primary" @click="init_compare">Compare</v-btn>
        <v-select
          :items="ward_array"
          label="Second ward"
          absolute
          loader-height="4"
          v-model="select_second_ward"
        ></v-select>
      </div>
    </div>
    <div class="flex items-end">
      <v-switch v-model="nepali_language" :label="`Nepali`" class="ml-auto"></v-switch>
    </div>
    <div class="flex text-center">
      <div class="flex-1">
        <ComparableItems :selected_ward="first_ward" :category="category"></ComparableItems>
      </div>

      <div class="flex-1">
        <ComparableItems :selected_ward="second_ward" :category="category"></ComparableItems>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  props: ["project_ward"],
  data() {
    return {
      nepali_language: false,
      tab: "tab-demography",
      categories: [
        ["Demography", "demography", "mdi-account-group"],
        ["Housing and amenities", "housing", "mdi-home-group"],
        ["Finance", "finance", "mdi-cash-usd"],
        ["Health", "health", "mdi-bottle-tonic-plus"]
      ],
      ward_array: [],
      category: "demography",
      first_ward: [1],
      second_ward: [2],
      select_category: "Demography",
      select_first_ward: 1,
      select_second_ward: 2
    };
  },
  mounted() {
    for (let i = 1; i <= this.project_ward; i++) {
      this.ward_array.push(i);
    }
    const that = this;
    if (that.$store.getters.getCurrentLanguage == "Nepali") {
      that.nepali_language = true;
    }
  },
  methods: {
    init_compare: function() {
      this.first_ward = [this.select_first_ward];
      this.second_ward = [this.select_second_ward];
      this.category = this.categories.find(
        cat => cat[0] == this.select_category
      )[1];
    },
    change_language: function() {
      if (this.nepali_language) {
        this.$store.commit("setLanguage", "Nepali");
      } else {
        this.$store.commit("setLanguage", "English");
      }
    }
  },

  watch: {
    nepali_language: function() {
      this.change_language();
    }
  }
};
</script>
