<template>
  <!-- </div> -->
  <div class="grid-container grid-container-demography text-center">
    <div class="overview-container">
      <overview :selected_ward="selected_ward"></overview>
    </div>
    <generic
      :selected_ward="selected_ward"
      v-for="item in getDemographyLayout"
      :key="item.column"
      :title="item.title"
      :column="item.column"
      :name="item.name"
      :personal="item.personal"
      :mapped="item.map"
      :multiple="item.multiple"
    ></generic>
    <disability :selected_ward="selected_ward"></disability>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["selected_ward", "hide_overview"],

  computed: {
    ...mapGetters(["getDemographyLayout"])
  }
};
</script>

<style scoped>
.grid-container-demography {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "overview overview";
}
.overview-container {
  grid-area: overview;
}
@media only screen and (max-width: 1198px) {
  .grid-container {
    grid-template-columns: auto !important;
  }
}
</style>
