<template>
  <div class="grid-container">
    <generic
      :selected_ward="selected_ward"
      v-for="item in getFinanceLayout"
      :key="item.column"
      :title="item.title"
      :column="item.column"
      :name="item.name"
      :personal="item.personal"
      :mapped="item.map"
      :multiple="item.multiple"
    ></generic>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["selected_ward"],

  computed: {
    ...mapGetters(["getFinanceLayout"])
  }
};
</script>

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
</style>
