<template>
  <v-container>
    <v-card>
      <v-row class="fill-height" no-gutters>
        <v-col cols="2">
          <v-navigation-drawer permanent>
            <v-list-item class="px-2 title text-center">
              <v-list-item-title>House ID: {{ houseid }}</v-list-item-title>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item
              class="px-2"
              @click="selected = 'house_details'; reselect('house');"
              v-model="selects.house"
            >
              <v-icon class="mr-3">mdi-home</v-icon>
              <v-list-item-title>House details</v-list-item-title>
            </v-list-item>
            <v-list-item
              class="px-2"
              @click="selected = 'member_details'; reselect('member');"
              v-model="selects.member"
            >
              <v-icon class="mr-3">mdi-account-group</v-icon>
              <v-list-item-title>Family members</v-list-item-title>
            </v-list-item>
            <!-- <v-list-item
                            class="px-2"
                            @click="
                                selected = 'agriculture_details';
                                reselect('agriculture');
                            "
                            v-model="selects.agriculture"
                        >
                            <v-icon class="mr-3">mdi-warehouse</v-icon>
                            <v-list-item-title>Agriculture</v-list-item-title>
            </v-list-item>-->
          </v-navigation-drawer>
        </v-col>
        <v-col cols="10">
          <v-content class="pa-5">
            <EditableHouse :houseid="houseid" v-if="selected == 'house_details'"></EditableHouse>
            <EditableMember :houseid="houseid" v-if="selected == 'member_details'"></EditableMember>
            <!-- <EditableAgriculture
                            :houseid="houseid"
                            v-if="selected == 'agriculture_details'"
            ></EditableAgriculture>-->
          </v-content>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: ["houseid"],
  data() {
    return {
      selects: {
        house: true,
        member: null,
        agriculture: null,
        finance: null,
        land: null
      },
      selected: "house_details"
    };
  },
  methods: {
    reselect: function(str) {
      const that = this;
      Object.keys(that.selects).forEach(name => {
        that.selects[name] = false;
      });
      that.selects[str] = true;
    }
  }
};
</script>

<style></style>
