<template>
  <v-container>
    <v-toolbar flat>
      <v-select
        :items="ward_array"
        label="Wards"
        multiple
        loader-height="4"
        clearable
        v-model="selected_ward"
        absolute
      ></v-select>
      <v-select
        :items="types"
        label="Type"
        multiple
        loader-height="4"
        clearable
        v-model="selected_type"
        class="ml-3"
        chips
        deletable-chips
        small-chips
      ></v-select>
    </v-toolbar>
    <v-card>
      <v-card-title>
        Institutional Data
        <v-spacer></v-spacer>
        <v-text-field label="Name" v-model="selected_name"></v-text-field>
        <v-btn icon @click="download">
          <v-icon>mdi-download</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-data-table :items="filtered_data" :headers="headers" :loading="loading">
          <template v-slot:item.actions="{ item }">
            <v-btn icon @click="show_popup(item.id)">
              <v-icon>mdi-eye</v-icon>
            </v-btn>
          </template>
        </v-data-table>
        <gmap-map :center="center" :zoom="zoom" style="width:100%;  height: 400px;">
          <gmap-marker
            :key="m.id"
            v-for="m in markers"
            :position="m.position"
            @click="show_popup(m.id)"
            :icon="{ url: marker_icon(m.type), scaledSize: {width: 28, height: 28}}"
            @mouseover="current_tooltip = m.id"
            @mouseout="current_tooltip = null"
          >
            <!-- @closeclick="window_open=false" -->
            <gmap-info-window
              :opened="current_tooltip == m.id"
              :options="{ pixelOffset: {width: 0,height: 0}  }"
            >
              <div class="text-lg">{{m.name}}</div>Type:
              <b>{{m.type}}</b>
              <br />Ward:
              <b>{{m.ward_number}}</b>
              <br />Tole:
              <b>{{m.tole_name}}</b>
            </gmap-info-window>
          </gmap-marker>
        </gmap-map>
      </v-card-text>
    </v-card>

    <InstitutionComponent
      :data="institution_data"
      v-if="show_dialog"
      @close_dialog="show_dialog = false"
    ></InstitutionComponent>
  </v-container>
</template>

<script>
import { json2csv } from "json-2-csv";
export default {
  props: ["project_ward"],
  data() {
    return {
      loading: true,
      selected_ward: [],
      selected_type: [],
      selected_name: "",
      show_dialog: false,
      institution_data: {},
      current_tooltip: null,
      zoom: 13,
      center: { lat: 26.468, lng: 87.881 },
      data: [],
      ward_array: []
    };
  },
  mounted() {
    RegExp.escape = function(s) {
      return s.replace(/[-\/\\^$*+?.()|[\]{}]/g, "\\$&");
    };
    for (let i = 1; i <= this.project_ward; i++) {
      this.ward_array.push(i);
    }
    this.fetch_data();
  },
  computed: {
    filtered_data: function() {
      return this.data
        .filter(inst => {
          if (!this.selected_ward.length) return true;
          return this.selected_ward.find(
            ward_number => inst.ward_number == ward_number
          );
        })
        .filter(inst => {
          if (!this.selected_type.length) return true;
          return this.selected_type.find(type => inst.type == type);
        })

        .filter(inst => {
          if (!this.selected_name) return true;
          var query = RegExp.escape(this.selected_name);
          var pattern = new RegExp("^.{0,}" + query + ".{0,}$", "i");
          return inst.name.match(pattern);
        });
    },
    types: function() {
      return this.data.map(e => e.type);
    },
    markers: function() {
      return this.filtered_data.map(data => {
        return {
          id: data.id,
          name: data.name,
          ward_number: data.ward_number,
          tole_name: data.tole_name,
          position: {
            lat: parseFloat(data.geo_lat),
            lng: parseFloat(data.geo_long)
          },
          tooltip: false,
          type: data.type
        };
      });
    },

    headers: function() {
      return [
        { text: "Ward number", value: "ward_number" },
        { text: "Tole", value: "tole_name" },
        {
          text: "Name",
          value: "name"
        },
        {
          text: "Type",
          value: "type"
        },
        {
          text: "Contact person",
          value: "contact_person"
        },
        { text: "Actions", value: "actions", sortable: false }
      ];
    }
  },
  methods: {
    fetch_data: function() {
      const that = this;
      axios.get("/api/institutional").then(res => {
        that.data = res.data;
        that.loading = false;
      });
    },
    marker_icon: function(type) {
      switch (type.toLowerCase()) {
        case "school":
          return "https://maps.google.com/mapfiles/kml/shapes/schools.png";
        case "health_institutes":
          return "https://maps.google.com/mapfiles/kml/shapes/hospitals.png";
        case "government_institute":
          return "https://maps.google.com/mapfiles/kml/paddle/grn-blank.png";
        case "tourism_spot":
          return "https://maps.google.com/mapfiles/kml/shapes/parks.png";
        default:
          return "https://maps.google.com/mapfiles/kml/paddle/blu-blank.png";
      }
    },
    show_popup: function(id) {
      this.institution_data = this.data.find(inst => inst.id === id);
      if (!this.institution_data) throw "couldn't find id: " + id;
      this.show_dialog = true;
      console.log("Ayyy");
    },
    save_csv: function(csv, filename) {
      var blob = new Blob([csv], { type: "text/csv;charset=utf-8;" });
      if (navigator.msSaveBlob) {
        navigator.msSaveBlob(blob, filename);
      } else {
        var link = document.createElement("a");
        if (link.download !== undefined) {
          var url = URL.createObjectURL(blob);
          link.setAttribute("href", url);
          link.setAttribute("download", filename);
          link.style.visibility = "hidden";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        }
      }
    },

    download: function() {
      const that = this;
      json2csv(that.filtered_data, function(err, csv) {
        if (err) return;
        that.save_csv(csv, "Institutional data.csv");
      });
    }
  }
};
</script>

<style scoped>
</style>