<template>
    
    <div class="d-none">
      <v-row align="center" class="bg-gray-200 px-5">
        <v-col class="d-flex" cols="12" sm="3">
          <v-select
            :items="ward_array"
            label="Wards"
            multiple
            absolute
            loader-height="4"
            clearable
            v-model="select_value"
          >
            <!-- @change="updateWard" -->

            <!-- <v-list-tile slot="prepend-item" ripple>
            <v-list-tile-title>
              <v-btn>Select All</v-btn>
            </v-list-tile-title>
            </v-list-tile>-->
            <v-divider slot="prepend-item" class="mt-2" />
          </v-select>
        </v-col>
        <v-col sm="1">
          <v-btn tile outlined color="secondary" @click="updateWard">
            <v-icon left>mdi-filter</v-icon>Filter
          </v-btn>
        </v-col>

        <v-col class="text-right" cols="12" sm="8">
          <v-menu transition="slide-x-transition">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark v-on="on">Change category</v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="category in categories"
                :key="category[1]"
                :color="(selected_cat[1]==category[1]?'primary':'outlined')"
                @click="change_cat(category)"
              >
                <v-list-item-title>{{category[0]}}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <!-- <v-btn v-for="category in categories" :key="category[1]" tile small :color="(selected_cat==category[1]?'primary':'outlined')">
              {{category[0]}}
          </v-btn>-->
        </v-col>
      </v-row>
      <div class="p-3 bg-gray-100">
        <div class="title">{{selected_cat[0]}}</div>
        <div class="my-5 mx-1">
          <demography :selected_ward="selected_ward" v-if="selected_cat[1] == 'demography'"></demography>
          <housing :selected_ward="selected_ward" v-if="selected_cat[1] == 'housing'"></housing>
          <finance :selected_ward="selected_ward" v-if="selected_cat[1] == 'finance'"></finance>
          <health :selected_ward="selected_ward" v-if="selected_cat[1] == 'health'"></health>
        </div>
      </div>
    </div>
</template>