<template>
  <v-container>
    <v-card>
      <v-toolbar flat color="blue darken-3" dark>
        <v-toolbar-title>{{translate_wrapper("Reports")}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-switch v-model="nepali_language" :label="`Nepali`" class="mt-4"></v-switch>
      </v-toolbar>

      <v-tabs background-color="blue darken-4" center-active dark v-model="category">
        <v-tab v-for="tab in layout" :key="tab.value">{{translate_wrapper(tab.name)}}</v-tab>
        <v-spacer></v-spacer>
        <v-btn
          class="mt-4 mr-2"
          outlined
          color="white"
          href="./resources/Jhapa_report.pdf"
          target="_blank"
          x-small
        >See complete report</v-btn>
        <v-tab-item v-for="tab in layout" :key="tab.value">
          <v-tabs
            vertical
            v-model="category_sub"
            v-if="layout[category] && tab.value == layout[category].value"
          >
            <v-tab v-for="sub_tab in tab.sub_category" :key="sub_tab.column">
              {{translate_wrapper(sub_tab.title)}}
              <v-spacer></v-spacer>
            </v-tab>
            <v-tab-item
              v-for="sub_tab in tab.sub_category"
              :key="sub_tab.column"
              :transition="false"
              :reverse-transition="false"
            >
              <MapImage :name="selected_name" :title="title_compute" v-if="selected_type==='map'"></MapImage>

              <ReportTable
                :name="selected_name"
                :title="title_compute"
                :column="selected_column"
                :ismultiple="selected_ismultiple"
                :ispersonal="selected_ispersonal"
                :map="selected_map"
                v-else
              ></ReportTable>
            </v-tab-item>
          </v-tabs>
        </v-tab-item>
      </v-tabs>
    </v-card>
  </v-container>
</template>

<script>
import translate from "../misc/translate";

export default {
  data() {
    return {
      nepali_language: false,
      category: null,
      category_sub: null,
      selected_name: null,
      selected_title: null,
      selected_column: null,
      selected_type: null,
      selected_ismultiple: false,
      selected_ispersonal: false,
      selected_map: false
    };
  },

  methods: {
    translate_wrapper: function(text) {
      if (!this.nepali_language) return text;
      return translate(text, "Nepali");
    },
    update_props: function() {
      const selected_tab = this.layout[this.category].sub_category[
        this.category_sub
      ];
      if (!selected_tab) return;
      this.selected_name = selected_tab.name;
      this.selected_title = selected_tab.title;
      this.selected_column = selected_tab.column;
      this.selected_ispersonal = selected_tab.personal;
      this.selected_ismultiple = selected_tab.multiple || false;
      this.selected_map = selected_tab.map || false;
      this.selected_type = selected_tab.type || false;
    },
    change_language: function() {
      if (this.nepali_language) {
        this.$store.commit("setLanguage", "Nepali");
      } else {
        this.$store.commit("setLanguage", "English");
      }
    }
  },
  mounted() {
    if (this.$store.getters.getCurrentLanguage == "Nepali") {
      this.nepali_language = true;
    }
  },
  computed: {
    title_compute: function() {
      return this.translate_wrapper(this.selected_title);
    },
    layout: function() {
      return this.$store.state.report_layout;
    }
  },
  watch: {
    category_sub: function() {
      this.update_props();
    },
    category: function() {
      if (this.category_sub == 0) {
        this.update_props();
        return;
      }
      this.category_sub = 0;
    },
    nepali_language: function() {
      this.change_language();
    }
  }
};
</script>

<style>
</style>