// @import "~vuetify/dist/vuetify.min.css";
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "variables";
@import "tailwind";
// @import "@mdi/font/css/materialdesignicons.css";

@import "./components/navigation.scss";

.highcharts-data-table {
    width: 100%;
    display: block;
    table {
        width: 100%;

        caption {
            margin: 10px 0;
            font-size: 15pt;
        }

        th {
            font-weight: 600;
            padding: 0.5em;
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-around;
    margin: 0 30%;
}
