.header {
    background: $primary;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    .header--center{
        font-size: 20pt;
    }

    .header--left, .header--right{
        display: flex;
        justify-content: space-between;

        li{
            list-style-type: none;
            margin: 0 10px;
        }
    }
}
