<template>
    <v-card class="d-inline-block m-4" :loading="loading" :disabled="loading">
        <v-container>
            <v-row justify="space-between">
                <v-col cols="7"> </v-col>

                <v-col cols="5" class="text-center pl-0">
                    <div></div>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
            total_household: "",
            total_population: "",
            male: "",
            female: ""
        };
    },
    mounted() {
        this.loading = true;
        axios.get("/api/overview").then(({ data }) => {
            if (!data) return;
            this.total_household = data.total_household;
            this.male = data.population["Male"];
            this.female = data.population["Female"];
            this.total_population = this.male + this.female;
            this.loading = false;
        });
    }
};
</script>

<style></style>
