<template>
    <v-dialog v-model="dialog" persistent max-width="600px">
        <v-card :loading="loading">
            <v-card-title>
                <span class="headline">Add a new member</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-form ref="form" v-model="valid">
                        <div v-if="error">
                            Something went wrong while trying to add a new
                            member; please try again.
                        </div>
                        <div v-for="column in cols" :key="column.value">
                            <div v-if="checkMap(column)">
                                <div class="mb-3">
                                    <v-select
                                        :label="column.name"
                                        :multiple="column.multiple"
                                        :items="options[column.value]"
                                        absolute
                                        loader-height="4"
                                        clearable
                                        v-model="values[column.value]"
                                        v-if="column.select"
                                        :disabled="loading"
                                    ></v-select>

                                    <v-text-field
                                        :rules="column.rules"
                                        :label="column.name"
                                        hide-details="auto"
                                        v-model="values[column.value]"
                                        :type="
                                            column.number ? 'number' : 'string'
                                        "
                                        :disabled="loading"
                                        v-else
                                    ></v-text-field>
                                </div>
                            </div>
                        </div>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false"
                    >Close</v-btn
                >
                <v-btn
                    color="blue darken-1"
                    text
                    @click="addMember()"
                    :disabled="loading || !valid"
                    >Save</v-btn
                >
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: ["houseid"],
    data() {
        const cols = this.$store.state.member_layout;

        let inputs = {};
        let values = {};
        let options = {};
        cols.forEach(col => {
            inputs[col.value] = {};
            values[col.value] = null;
            options[col.value] = [];

            // inputs[col.value].value = null;
        });

        return {
            error: false,
            dialog: true,
            loading: false,
            cols,
            values,
            inputs,
            options,
            valid: false
        };
    },

    mounted() {
        this.fetchAvailableOptions();
    },
    methods: {
        addMember: function() {
            let array = [];
            const that = this;
            that.error = false;
            that.loading = true;
            Object.keys(this.values).forEach(col => {
                array.push({
                    column: col,
                    value: this.values[col]
                });
            });
            axios({
                method: "post",
                url: `/admin/json/member/${this.houseid}/add`,
                data: {
                    person_ID: this.house_id,
                    data: array
                }
            })
                .then(response => {
                    that.$emit("sync_changes");
                })
                .catch(error => {
                    that.error = true;
                })
                .finally(() => {
                    that.loading = false;
                });
        },
        checkMap: function(column) {
            const that = this;
            let { linked } = column;
            if (!linked) return true;

            let response = true;
            Object.keys(linked).forEach(link => {
                const expected_val = linked[link];

                if (typeof expected_val === "object") {
                    const expressions = Object.keys(expected_val);
                    var final = true;
                    expressions.forEach(expr => {
                        let expr_val = expected_val[expr];
                        let int_value = parseInt(that.values[link]);
                        switch (expr) {
                            case "$gt":
                                if (!(int_value >= expr_val)) {
                                    final = false;
                                }
                                break;

                            case "$lt":
                                if (!(int_value <= expr_val)) {
                                    final = false;
                                }
                                break;

                            default:
                                final = false;
                                break;
                        }
                    });
                    response = final;
                } else {
                    if (
                        !that.values[link] ||
                        that.values[link].toLowerCase() !==
                            linked[link].toLowerCase()
                    ) {
                        response = false;
                    }
                }
            });
            return response;
        },

        fetchAvailableOptions: async function() {
            const that = this;
            that.loading = true;
            const fetchables = that.cols.filter(col => {
                if (localStorage["personal__" + col.value]) {
                    that.options[col.value] = localStorage[
                        "personal__" + col.value
                    ].split(",");
                    return false;
                }
                return col.fetch && !that.options[col.value].length;
            });

            let requests = [];

            fetchables.forEach(async column => {
                let request = axios({
                    method: "get",
                    url: "/admin/json/member/count/" + column.value
                });

                requests.push(request);
            });
            const responses = await Promise.all(requests);
            that.loading = false;

            responses.forEach(response => {
                let column = response.config.url.split("/");
                const data = response.data;

                const array_data = data
                    .map(wrapper => Object.values(wrapper)[0])
                    .filter(val => val !== null && val !== undefined); // required for columns with multiple values.

                column = column[column.length - 1];
                that.options[column] = array_data;
                localStorage["personal__" + column] = array_data;
            });
        },

        enableEditing: function() {
            this.editing = true;
            this.fetchAvailableOptions();
        },
        disableEditing: function(nowarn = false) {
            if (nowarn || confirm("Discard unsaved changes?")) {
                this.values = Object.assign({}, this.original_values);
                this.editing = false;
            }
        }
    }
};
</script>

<style></style>
