<template>
  <div>
    <demography
      :selected_ward="selected_ward"
      v-if="category === 'demography'"
      :hide-overview="true"
    ></demography>
    <housing :selected_ward="selected_ward" v-if="category === 'housing'"></housing>
    <finance :selected_ward="selected_ward" v-if="category === 'finance'"></finance>
    <health :selected_ward="selected_ward" v-if="category === 'health'"></health>
  </div>
</template>

<script>
export default {
  props: ["selected_ward", "category"]
};
</script>


<style scoped>
.grid-container {
  grid-template-columns: auto !important;
}
.grid-container-demography {
  grid-template-areas: "overview" !important;
}
.overview-card {
  width: 90% !important;
}
</style>