<template>
  <v-container>
    <!-- TODO: filter value 'any' to have table for custom cols -->
    <v-card
      class="mx-auto px-10 py-5 mb-3 align-center justify-space-between"
      max-width="1200"
      outlined
    >
      <v-form @keyup.native.enter="getData()">
        <v-row class="align-items-center">
          <v-col cols="3">
            <v-select
              :items="ward_array"
              label="Wards"
              multiple
              absolute
              loader-height="4"
              clearable
              v-model="select_value"
            ></v-select>
          </v-col>
          <v-col cols="3">
            <v-text-field
              label="House ID"
              hide-details="auto"
              prepend-icon="home"
              v-model="house_ID"
            ></v-text-field>
          </v-col>
          <v-col cols="3">
            <!-- :rules="[value => (!value || value.length >= 3) || 'Min 3 characters']" -->
            <v-text-field
              label="House head name"
              hide-details="auto"
              prepend-icon="person"
              v-model="house_head"
            ></v-text-field>
          </v-col>
          <v-col cols="1" class="d-flex">
            <v-btn small color="primary" class="mt-5" @click="page = 1; getData();">Filter</v-btn>
            <v-btn small color="secondary" class="mt-5 ml-2" @click="dialog.display=true;">Advanced</v-btn>
            <v-btn small color="red" outlined class="mt-5 ml-2" v-if="false">Clear</v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <v-pagination
      v-model="page"
      :length="pageCount"
      :total-visible="15"
      :loading="loading"
      :disabled="loading"
      @input="pagination_changed"
    ></v-pagination>
    <div class="text-gray-600 mt-6 mb-3">Displaying {{displayingItem}} items; total: {{total}}.</div>

    <v-chip
      class="ma-2"
      color="primary"
      v-for="filter in custom_filters"
      :key="filter.column"
      close
      @click:close="removeFilterColumn(filter.column)"
    >
      {{filter.column}}:
      <v-chip
        color="white ml-2"
        small
        v-for="value in filter.values"
        :key="value"
        close
        @click:close="removeFilterValue(filter.column, value)"
      >{{value}}</v-chip>
    </v-chip>

    <v-data-table
      :headers="[...headers, { text: 'Actions', value: 'actions', sortable: false }]"
      :items="data"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      :loading="loading"
      :disabled="loading"
      item-key="house_id"
      class="elevation-1"
      hide-default-footer
    >
      <template v-slot:item.actions="{ item }">
        <v-btn icon :href="'/admin/household/' + item.house_ID">
          <v-icon>mdi-eye</v-icon>
        </v-btn>
      </template>
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-spacer></v-spacer>

          <v-menu v-model="menu" :close-on-content-click="false" :nudge-width="100" offset-y>
            <template v-slot:activator="{ on }">
              <v-btn color="blue-grey" class="ma-2 white--text" small tile v-on="on">
                Download
                <v-icon right dark>mdi-download</v-icon>
              </v-btn>
            </template>

            <v-card>
              <v-list>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>Download data</v-list-item-title>
                    <v-list-item-subtitle>Download the data in Comma-Separated Value (CSV) file format.</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>

              <v-divider></v-divider>

              <v-list>
                <v-list-item>
                  <v-btn
                    color="green"
                    class="white--text mt-4"
                    tile
                    block
                    @click="download_filtered"
                    :loading="loaders.download_filtered"
                    :disabled="!data.length"
                  >Download filtered data</v-btn>
                </v-list-item>

                <v-list-item>
                  <v-btn
                    outlined
                    class="mt-4"
                    tile
                    block
                    color="green"
                    @click="download_all"
                    :loading="loaders.download_all"
                  >Download all data</v-btn>
                </v-list-item>
              </v-list>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text @click="menu = false">Cancel</v-btn>
              </v-card-actions>
            </v-card>
          </v-menu>

          <!--           
          <v-btn color="blue-grey" class="ma-2 white--text" small tile>
            Download
            <v-icon right dark>mdi-download</v-icon>
          </v-btn>-->
        </v-toolbar>
      </template>
    </v-data-table>

    <v-pagination
      v-model="page"
      :length="pageCount"
      :total-visible="15"
      :loading="loading"
      :disabled="loading"
      @input="pagination_changed"
    ></v-pagination>

    <v-dialog v-model="dialog.display" persistent max-width="600">
      <v-card>
        <v-card-title class="headline">Advanced filter</v-card-title>
        <v-card-text>
          Add a custom filter by choosing a column and selecting one of its values.
          <v-container>
            <v-select
              :items="available_columns"
              v-model="dialog.selected"
              :disabled="dialog.loading"
              @change="dialog_funct().changed()"
              label="Select a column"
            ></v-select>
            <v-select
              :items="dialog.fetched_values"
              v-model="dialog.selected_value"
              v-if="dialog.selected"
              :loading="dialog.loading"
              :disabled="dialog.loading"
              label="Select a value of the column"
            ></v-select>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="dialog_funct().addFilter()"
            :disabled="dialog.loading || !dialog.selected_value"
          >Add</v-btn>
          <v-btn color="green darken-1" text @click="dialog_funct().close()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { json2csv } from "json-2-csv";
export default {
  props: ["project_ward"],
  data() {
    return {
      menu: false,
      loaders: {
        download_filtered: false,
        download_all: false
      },
      dialog: {
        loading: false,
        display: false,
        selected: null,
        fetched_values: [],
        selected_value: null
      },
      custom_filters: [],
      loading: undefined,
      page: 1,
      pageCount: 0,
      itemsPerPage: 1,
      last_response: {},
      total: 0,
      data: [],
      selected_ward: [],
      select_value: [],
      ward_array: [],
      house_ID: "",
      house_head: ""
    };
  },

  mounted() {
    for (let i = 1; i <= this.project_ward; i++) {
      this.ward_array.push(i);
    }
    this.getData();
  },

  methods: {
    actual_request: function(custom = {}) {
      const columns = this.headers.map(e => e.value);
      const data = {
        wards: this.select_value,
        columns,
        house_ID: this.house_ID,
        house_head: this.house_head,
        custom_filters: this.custom_filters,
        ...custom
      };
      return axios.post("/admin/json?page=" + this.page, data);
    },
    pagination_changed: function() {
      this.data = [];
      this.getData();
    },
    getData: function() {
      this.loading = true;
      this.actual_request().then(({ data }) => {
        this.loading = false;
        this.last_response = data;
        this.data = this.last_response.data;
        this.updatePagination();
      });
    },
    updatePagination: function() {
      this.itemsPerPage = this.last_response.per_page;
      this.pageCount = this.last_response.last_page;
      this.total = this.last_response.total;

      if (this.page > this.pageCount) {
        this.page = this.pageCount;
      }
    },

    removeFilterColumn: function(col) {
      this.custom_filters = this.custom_filters.filter(
        filter => filter.column !== col
      );
    },

    removeFilterValue: function(col, val) {
      let filter_column = this.custom_filters.find(
        filter => filter.column == col
      );
      let filter_values = filter_column.values;
      if (!col) return;
      filter_column.values = filter_values.filter(value => value !== val);
      if (!filter_column.values.length) {
        this.removeFilterColumn(col);
      }
    },

    dialog_funct: function() {
      const that = this;
      return {
        changed: function() {
          that.dialog.fetched_values = [];
          that.dialog.loading = true;
          that.dialog_funct().getColumnValues();
        },

        getColumnValues: function() {
          axios({
            method: "post",
            url: "/admin/json/household/count/" + that.dialog.selected,
            data: {
              wards: that.selected_ward
            }
          }).then(({ data }) => {
            const array_data = data.map(wrapper => Object.values(wrapper)[0]);

            that.dialog.loading = false;
            if (!array_data.length) {
              return;
            }
            that.dialog.fetched_values = array_data;
          });
        },

        addFilter: function() {
          let existing_filter = that.custom_filters.find(
            filter => filter.column == that.dialog.selected
          );
          if (existing_filter) {
            existing_filter.values.push(that.dialog.selected_value);
          } else {
            that.custom_filters.push({
              column: that.dialog.selected,
              values: [that.dialog.selected_value]
            });
          }

          that.dialog_funct().close();
        },

        close: function() {
          that.dialog.fetched_values = [];
          that.dialog.selected = null;
          that.dialog.display = false;
          that.dialog.selected_value = null;
        }
      };
    },
    download_csv: function(csv, filename) {
      var blob = new Blob([csv], { type: "text/csv;charset=utf-8;" });
      if (navigator.msSaveBlob) {
        navigator.msSaveBlob(blob, filename);
      } else {
        var link = document.createElement("a");
        if (link.download !== undefined) {
          var url = URL.createObjectURL(blob);
          link.setAttribute("href", url);
          link.setAttribute("download", filename);
          link.style.visibility = "hidden";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        }
      }
    },
    download_filtered: function() {
      const that = this;
      this.loaders.download_filtered = true;
      this.actual_request({ no_paginate: true }).then(({ data }) => {
        this.loaders.download_filtered = false;
        json2csv(data, function(err, csv) {
          if (err) return;
          that.download_csv(csv, "Filtered data.csv");
        });
      });
    },
    download_all: function() {
      const that = this;
      this.loaders.download_all = true;
      this.actual_request({ complete_data: true }).then(({ data }) => {
        this.loaders.download_all = false;
        json2csv(data, function(err, csv) {
          if (err) return;
          that.download_csv(csv, "Complete data.csv");
        });
      });
    },
    rowClicked: function() {
      console.log("ahhh sjee");
    }
  },
  computed: {
    headers: function() {
      let headers = [
        {
          text: "Ward",
          value: "ward_number"
        },
        {
          text: "House ID",
          value: "house_ID"
        },
        {
          text: "House head",
          value: "house_head"
        },
        {
          text: "Tole",
          value: "tole_name"
        }
      ];
      if (this.custom_filters.length) {
        let filtered_columns = this.custom_filters.map(filter => {
          return { text: filter.column, value: filter.column };
        });
        headers = [...headers, ...filtered_columns];
      }
      return headers;
    },
    available_columns: function() {
      return [
        {
          text: "Data collector",
          value: "username"
        },
        {
          text: "Tole name",
          value: "tole_name"
        },
        {
          text: "House ownership",
          value: "house_ownership"
        },
        {
          text: "Family religion",
          value: "family_religion"
        },

        {
          text: "Family mother-tongue",
          value: "family_mothertongue"
        },

        {
          text: "Family ethnicity",
          value: "family_ethnicity"
        },
        {
          text: "Health insurance",
          value: "health_insurance"
        },
        {
          text: "Agriculture as occupation",
          value: "agriculture"
        },

        {
          text: "Toilet availability",
          value: "toilet"
        },
        {
          text: "Family occupation",
          value: "family_occupation"
        },
        {
          text: "Settlement type",
          value: "settlement_type"
        }
      ];
    },
    displayingItem: function() {
      return this.data.length;
    }
  },
  watch: {
    custom_filters: function() {
      this.page = 1;

      this.getData();
    }
  }
};
</script>
