<template>
  <v-card class="d-inline-block m-2" :loading="loading" :disabled="loading">
    <v-row justify="space-around">
      <highcharts :options="chartOptions" :key="rerenderKey"></highcharts>
    </v-row>
  </v-card>
</template>

<script>
import translate from "../misc/translate";

export default {
  props: ["selected_ward"],
  watch: {
    selected_ward: function() {
      this.init();
    },
    language: function() {
      if (this.language == "Nepali") {
        this.chartOptions.title.text = translate(this.title, "Nepali");
      } else {
        this.chartOptions.title.text = this.title;
      }
    }
  },
  mounted() {
    if (this.language == "Nepali") {
      this.chartOptions.title.text = translate(this.title, "Nepali");
    } else {
      this.chartOptions.title.text = this.title;
    }
    this.init();
    this.$el.addEventListener("fullscreenchange", this.fullScreenChanged);
  },

  data() {
    return {
      rerenderKey: true,
      title: "Population by disability",
      loading: false,
      data: false,
      chartOptions: {
        title: {
          text: "Population by disability"
        },
        subtitle: {
          text: "Click to see more detail"
        },
        chart: {
          type: "pie"
        },

        legend: {
          enabled: false
        },
        xAxis: {
          type: "category"
        }
      }
    };
  },
  computed: {
    language() {
      return this.$store.getters.getCurrentLanguage;
    }
  },
  methods: {
    fullScreenChanged: function() {
      if (!document.fullscreenElement) {
        this.rerenderKey = !this.rerenderKey;
      }
    },
    init: function() {
      this.loading = true;
      axios({
        method: "post",
        url: "/api/personal/count/disability_type",
        data: {
          wards: this.selected_ward
        }
      }).then(({ data }) => {
        this.loading = false;
        this.data = data;
        const names = Object.keys(data).filter(name => name);
        const answered_no = data[""];
        const answered_yes = names
          .map(e => data[e])
          .reduce((a, b) => a + Math.abs(b), 0);

        var accepted_data = [];

        names.forEach(name => {
          accepted_data.push([name, data[name]]);
        });

        this.chartOptions.series = [
          {
            name: "Disability",
            data: [
              {
                name: "People with disability",
                y: answered_yes,
                drilldown: "Yes"
              },
              {
                name: "Not disabled",
                y: answered_no,
                drilldown: "No"
              }
            ]
          }
        ];

        this.chartOptions.drilldown = {
          series: [
            {
              name: "Has disability",
              id: "Yes",
              data: accepted_data
            }
          ]
        };
        // this.makeChart();
      });
    },

    makeChart: function() {
      const data = [];

      Object.keys(this.data).forEach(name => {
        data.push({
          name,
          y: this.data[name]
        });
      });
      this.chartOptions.series = [
        {
          data
        }
      ];
    }
  }
};
</script>

<style>
</style>
