<template>
  <v-card class="d-inline-block m-2" :loading="loading" :disabled="loading">
    <v-row justify="space-around">
      <highcharts :options="chartOptions" :key="rerenderKey"></highcharts>
    </v-row>
  </v-card>
</template>

<script>
import translate from "../misc/translate";
export default {
  props: [
    "name",
    "selected_ward",
    "title",
    "column",
    "type",
    "personal",
    "multiple",
    "mapped"
  ],
  watch: {
    selected_ward: function() {
      this.init();
    },
    language: function() {
      if (this.language == "Nepali") {
        this.chartOptions.title.text = translate(this.title, "Nepali");
      } else {
        this.chartOptions.title.text = this.title;
      }
    }
  },
  mounted() {
    if (this.language == "Nepali") {
      this.chartOptions.title.text = translate(this.title, "Nepali");
    } else {
      this.chartOptions.title.text = this.title;
    }
    this.init();
    this.$el.addEventListener("fullscreenchange", this.fullScreenChanged);
  },
  beforeDestroy: function() {
    this.$el.removeEventListener("fullscreenchange", this.fullScreenChanged);
  },
  data() {
    return {
      rerenderKey: true,
      safe_name: "",
      loading: false,
      data: false,
      chartOptions: {
        title: {
          text: this.title
        },
        chart: {
          type: "pie"
        },
        legend: {},
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: true
            },
            showInLegend: false
          }
        }
      }
    };
  },
  computed: {
    language() {
      return this.$store.getters.getCurrentLanguage;
    }
  },
  methods: {
    fullScreenChanged: function() {
      if (!document.fullscreenElement) {
        this.rerenderKey = !this.rerenderKey;
      }
    },
    init: function() {
      this.safe_name = this.name ? this.name : this.title;
      this.loading = true;
      this.chartOptions.series = [];
      var url = "/api/household/";
      if (this.personal == true) {
        url = "/api/personal/";
      }
      if (this.type) {
        this.chartOptions.chart.type = this.type;
      }
      url += "count/";
      url += this.column;

      axios({
        method: "post",
        url,
        data: {
          wards: this.selected_ward
        }
      }).then(({ data }) => {
        this.loading = false;
        this.data = data;
        if (this.multiple) this.split_multiple();

        this.makeChart();
      });
    },

    split_multiple: function() {
      var acceptable_data = {};
      Object.keys(this.data).forEach(names => {
        let splitted = names.split(" ");
        let data = this.data[names];
        splitted.forEach(name => {
          if (!acceptable_data[name]) acceptable_data[name] = 0;
          acceptable_data[name] += data;
        });
      });
      this.data = acceptable_data;
    },

    makeChart: function() {
      const data = [];
      var labels = Object.keys(this.data).filter(name => name);
      if (labels.includes("other")) {
        labels = labels.filter(e => e !== "other");
        labels.push("other");
      }
      labels.forEach(label => {
        var name = label;
        if (!this.data[name]) return;
        if (name.toLowerCase() == "donotknow") name = "Unknown";
        if (this.mapped && this.mapped[name]) {
          name = this.mapped[name];
        }
        data.push({
          name,
          y: this.data[label]
        });
      });
      this.chartOptions.series = [
        {
          name: this.safe_name,
          data: data
        }
      ];
    }
  }
};
</script>

<style>
</style>
