<template>
  <div>
    <v-dialog width="1200px" v-model="dialog">
      <v-card>
        <v-card-title>
          <span class="headline">{{data.name}}</span>
          <v-spacer></v-spacer>
          <v-btn icon @click="close_dialog">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="9" class="text-lg">
              <div>
                Type:
                <b>{{data.type}}</b>
              </div>
              <div>
                Ward:
                <b>{{data.ward_number}}</b>
              </div>
              <div>
                Tole name:
                <b>{{data.tole_name}}</b>
              </div>
              <div>
                Contact person:
                <b>{{data.contact_person}} ({{data.contact_number}})</b>
              </div>
              <v-divider class="my-3"></v-divider>
              <div>
                <gmap-map :center="get_lat_lng" :zoom="14" style="width:100%;  height: 400px;">
                  <gmap-marker :position="get_lat_lng"></gmap-marker>
                </gmap-map>
              </div>
            </v-col>
            <v-col>
              <a :href="data.image_institution" target="_BLANK">
                <v-img :src="data.image_institution" aspect-ratio="1" :contain="true">
                  <template v-slot:placeholder>
                    <v-row class="fill-height ma-0" align="center" justify="center">
                      <v-progress-circular indeterminate color="teal"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </a>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      dialog: true
    };
  },
  methods: {
    close_dialog: function() {
      this.$emit("close_dialog");
    }
  },
  computed: {
    get_lat_lng: function() {
      return {
        lat: parseFloat(this.data.geo_lat),
        lng: parseFloat(this.data.geo_long)
      };
    }
  },
  watch: {
    dialog: function() {
      if (!this.dialog) {
        this.$emit("close_dialog");
      }
    }
  }
};
</script>

<style>
</style>