<template>
  <v-container>
    <v-card max-width="800" class="m-auto">
      <v-toolbar flat dense>
        <v-toolbar-title>{{title}}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-img :src="'./resources/gis_maps/'+name" :lazy-src="'./resources/gis_maps/thumb/'+name">
          <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular indeterminate color="teal"></v-progress-circular>
            </v-row>
          </template>
        </v-img>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: ["name", "title"],

  data() {
    return {
      headers: [],
      items: [],
      loading: false
    };
  },

  mounted() {},

  methods: {}
};
</script>

<style>
</style>