<template>
  <div>
    <v-card :loading="loading" :disabled="loading" v-if="!deleted">
      <v-card-title>
        <div v-if="editing">
          <v-text-field label="Name" hide-details="auto" v-model="values['member_name']"></v-text-field>
        </div>
        <div v-else>{{ values["member_name"] }}</div>
      </v-card-title>
      <v-card-text class="black--text">
        <v-row>
          <v-spacer></v-spacer>
          <div class="mr-3">
            <v-btn color="error" small tile @click="deleteMember()" v-if="!editing">
              <v-icon left>mdi-delete</v-icon>Delete
            </v-btn>

            <v-btn
              color="primary"
              small
              tile
              @click="enableEditing()"
              v-if="!editing"
              :disabled="loading"
            >
              <v-icon left>mdi-pencil</v-icon>Edit
            </v-btn>

            <v-btn
              color="secondary"
              small
              tile
              @click="disableEditing()"
              v-if="editing"
              class="mr-2"
            >Cancel</v-btn>
            <v-btn
              color="green"
              small
              tile
              v-if="editing"
              :disabled="loading"
              @click="saveChanges()"
              class="white--text"
            >Save</v-btn>
          </div>
          <v-col cols="12">
            <div v-for="(column, i) in cols" :key="column.value">
              <div v-if="!column.ignore && checkMap(column)" class="px-2">
                <v-row v-if="!editing">
                  <v-col>{{ column.name }}</v-col>
                  <v-col>{{ values[column.value] }}</v-col>
                </v-row>

                <div v-else class="mb-3">
                  <v-select
                    :label="column.name"
                    :multiple="column.multiple"
                    :items="options[column.value]"
                    absolute
                    loader-height="4"
                    clearable
                    class="mt-4"
                    v-model="values[column.value]"
                    v-if="column.select"
                  ></v-select>

                  <v-text-field
                    :label="column.name"
                    hide-details="auto"
                    v-model="values[column.value]"
                    :type="
                                            column.number ? 'number' : 'string'
                                        "
                    v-else
                  ></v-text-field>
                </div>
              </div>
              <v-divider
                v-if="
                                    !editing &&
                                        i !== cols.length - 1 &&
                                        i !== 0 &&
                                        checkMap(column)
                                "
              ></v-divider>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-snackbar v-model="snackbar" :color="snack_type">
      {{ snack_message }}
      <v-btn color="white" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  props: ["dataprop", "personid"],
  data() {
    let data = this.dataprop;
    const cols = this.$store.state.member_layout;

    let inputs = {};
    let values = {};
    let original_values = {};
    let options = {};
    cols.forEach(col => {
      original_values[col.value] = data[col.value];
      values[col.value] = data[col.value];
      options[col.value] = [];
      inputs[col.value] = {};
    });

    return {
      data,
      cols,
      inputs,
      values,
      original_values,
      options,
      deleted: false,
      loading: false,
      editing: false,
      snackbar: false,
      snack_message: null,
      snack_type: null
    };
  },

  methods: {
    checkMap: function(column) {
      const that = this;
      let { linked } = column;
      if (!linked) return true;
      let response = true;
      Object.keys(linked).forEach(link => {
        const expected_val = linked[link];

        if (typeof expected_val === "object") {
          const expressions = Object.keys(expected_val);

          var final = true;

          expressions.forEach(expr => {
            let expr_val = expected_val[expr];
            let int_value = parseInt(that.values[link]);
            switch (expr) {
              case "$gt":
                if (!(int_value >= expr_val)) {
                  final = false;
                }
                break;

              case "$lt":
                if (!(int_value <= expr_val)) {
                  final = false;
                }
                break;

              default:
                final = false;
                break;
            }
          });
          response = final;
        } else {
          if (
            !that.values[link] ||
            that.values[link].toLowerCase() !== linked[link].toLowerCase()
          ) {
            response = false;
          }
        }
      });
      return response;
    },

    fetchAvailableOptions: async function() {
      const that = this;
      that.loading = true;
      const fetchables = that.cols.filter(col => {
        return col.fetch && !that.options[col.value].length;
        // if (localStorage["personal__" + col.value]) {
        //     that.options[col.value] = localStorage[
        //         "personal__" + col.value
        //     ].split(",");
        //     return false;
        // }
        // return col.fetch && !that.options[col.value].length;
      });

      let requests = [];

      fetchables.forEach(async column => {
        let request = axios({
          method: "get",
          url: "/admin/json/member/count/" + column.value
        });

        requests.push(request);
      });
      const responses = await Promise.all(requests);
      that.loading = false;

      responses.forEach(response => {
        let column = response.config.url.split("/");
        const data = response.data;

        const array_data = data
          .map(wrapper => Object.values(wrapper)[0])
          .filter(val => val !== null && val !== undefined); // required for columns with multiple values.

        column = column[column.length - 1];
        that.options[column] = array_data;
        localStorage["personal__" + column] = array_data;
      });
    },

    enableEditing: function() {
      this.editing = true;
      this.fetchAvailableOptions();
    },
    disableEditing: function(nowarn = false) {
      if (nowarn || confirm("Discard unsaved changes?")) {
        this.values = Object.assign({}, this.original_values);
        this.editing = false;
      }
    },

    saveChanges: function() {
      let array = [];
      const that = this;
      that.loading = true;
      Object.keys(this.values).forEach(col => {
        array.push({
          column: col,
          value: this.values[col]
        });
      });
      axios({
        method: "post",
        url: "/admin/json/member/" + this.personid + "/save",
        data: {
          person_ID: this.personid,
          changes: array
        }
      })
        .then(response => {
          const data = response.data;

          that.loading = false;
          that.snack_type = "success";
          that.snack_message = "Sucessfully edited";
          that.snackbar = true;
          that.disableEditing(true);
          that.sync_changes(data);
        })
        .catch(e => {
          console.log(e);
          that.loading = false;
          that.snack_type = "error";
          that.snack_message = "Update failed; please try again.";
          that.snackbar = true;
        });
    },

    sync_changes: function(data) {
      this.values = {};
      this.original_values = {};
      this.cols.forEach(col => {
        this.original_values[col.value] = data[col.value];
        this.values[col.value] = data[col.value];
      });
    },

    deleteMember: function() {
      if (confirm("Delete this member? This action cannot be undone.")) {
        const that = this;
        that.loading = true;
        axios
          .post("/admin/json/member/" + this.personid + "/delete")
          .then(response => {
            that.loading = false;
            that.deleted = true;
          });
      }
    }
  }
};
</script>

<style></style>
