<template>
  <v-card class="d-inline-block m-4 w-2/3 overview-card" :loading="loading" :disabled="loading">
    <v-row justify="space-around">
      <v-col cols="9">
        <highcharts :options="chartOptions" :key="rerenderKey"></highcharts>
      </v-col>
      <v-col cols="3" class="mt-10">
        <div>
          Total household
          <div class="headline font-weight-bold">{{ total_household }}</div>
        </div>
        <div class="my-3">
          Total population
          <div class="headline font-weight-bold">{{ total_population }}</div>
        </div>
        <div class="my-3">
          Male
          <div class="headline font-weight-bold">{{ male }}</div>
        </div>
        <div class="my-3">
          Female
          <div class="headline font-weight-bold">{{ female }}</div>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import translate from "../misc/translate";

export default {
  props: ["selected_ward"],

  watch: {
    selected_ward: function() {
      this.init();
    },
    language: function() {
      if (this.language == "Nepali") {
        this.chartOptions.title.text = translate(this.title, "Nepali");
      } else {
        this.chartOptions.title.text = this.title;
      }
    }
  },

  mounted() {
    if (this.language == "Nepali") {
      this.chartOptions.title.text = translate(this.title, "Nepali");
    } else {
      this.chartOptions.title.text = this.title;
    }
    this.init();
    this.$el.addEventListener("fullscreenchange", this.fullScreenChanged);
  },

  beforeDestroy: function() {
    this.$el.removeEventListener("fullscreenchange", this.fullScreenChanged);
  },
  data() {
    return {
      rerenderKey: true,
      title: "Population by age",
      chartOptions: {
        title: {
          text: "Population by age"
        },
        chart: {
          type: "bar"
        },
        plotOptions: {
          series: {
            stacking: "normal"
          }
        },
        yAxis: {
          labels: {
            formatter: function() {
              return Math.abs(this.value);
            }
          }
        },
        tooltip: {
          formatter: function() {
            return (
              "<b>" +
              this.series.name +
              ", age " +
              this.point.category +
              "</b><br/>" +
              "Population: " +
              Number(Math.abs(this.point.y)).toLocaleString()
            );
          }
        },
        accessibility: {
          point: {
            descriptionFormatter: function(point) {
              var index = point.index + 1,
                category = point.category,
                val = Math.abs(point.y),
                series = point.series.name;

              return (
                index + ", Age " + category + ", " + val + "%. " + series + "."
              );
            }
          }
        }
      },
      data: false,
      loading: false,
      total_household: "",
      total_population: "",
      male: "",
      female: ""
    };
  },
  computed: {
    language() {
      return this.$store.getters.getCurrentLanguage;
    }
  },

  methods: {
    fullScreenChanged: function() {
      if (!document.fullscreenElement) {
        this.rerenderKey = !this.rerenderKey;
      }
    },
    init: function() {
      this.data = false;
      this.male = "";
      this.female = "";
      this.total_population = "";
      this.total_household = "";
      this.loading = true;
      this.chartOptions.series = [];
      axios({
        method: "post",
        url: "./api/overview",
        data: {
          wards: this.selected_ward
        }
      })
        .then(({ data }) => {
          if (!data) return;
          this.total_household = data.total_household;
          this.male = Object.values(data.population["Male"]).reduce(
            (a, b) => a + b,
            0
          );
          this.female = Object.values(data.population["Female"]).reduce(
            (a, b) => a + b,
            0
          );
          this.total_population = this.male + this.female;
          this.loading = false;
          this.data = data;
          this.makeChart();
        })
        .catch(e => {
          this.loading = false;
        });
    },
    makeChart: function() {
      const { population } = this.data;
      var categories = Object.keys(population["Male"]);
      if (categories.some(cat => !cat)) {
        console.warn(
          "Blank value(s) in the `age_range` column have been ignored."
        );
      }
      categories = categories
        .filter(a => a)
        .sort((a, b) => {
          let num1 = a.match(/^[0-9]+/)[0];
          let num2 = b.match(/^[0-9]+/)[0];
          return num1 - num2;
        });

      const male_data = Object.values(population["Male"]).map(e => {
        return -Math.abs(e);
      });
      const female_data = Object.values(population["Female"]);
      this.chartOptions.xAxis = [
        {
          categories: categories,
          reversed: false,
          labels: {
            step: 1
          },
          accessibility: {
            description: "Age (male)"
          }
        },
        {
          // mirror axis on right side
          opposite: true,
          reversed: false,
          categories: categories,
          linkedTo: 0,
          labels: {
            step: 1
          },
          accessibility: {
            description: "Age (female)"
          }
        }
      ];

      this.chartOptions.series = [
        {
          name: "Male",
          data: male_data
        },
        {
          name: "Female",
          data: female_data
        }
      ];
    },
    makeChartTheOldWay: function() {
      let data = [
        {
          name: "Male",
          y: this.data.population["Male"]
        },
        {
          name: "Female",
          y: this.data.population["Female"]
        },
        {
          name: "Other",
          y: this.data.population["Other"]
        }
      ];

      data = data.filter(e => e.y);
      this.chartOptions.series = [
        {
          data
        }
      ];
    }
  }
};
</script>

<style></style>
