<template>
  <v-container>
    <v-card max-width="800" class="m-auto">
      <v-toolbar flat dense>
        <v-toolbar-title>{{title}}</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn icon @click="download">
          <v-icon>mdi-download</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-data-table
          disable-pagination
          hide-default-footer
          calculate-widths
          loading-text="Generating table"
          :headers="headers"
          :items="items"
          :loading="loading"
          item-key="ward"
          class="elevation-1"
        ></v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { json2csv } from "json-2-csv";

export default {
  props: ["name", "title", "column", "ismultiple", "ispersonal", "map"],

  data() {
    return {
      headers: [],
      items: [],
      loading: false
    };
  },

  mounted() {
    this.getData();
  },

  methods: {
    getData: function() {
      const that = this;
      let url = "/api/household/report/" + this.column;
      if (that.ispersonal) {
        url = "/api/personal/report/" + this.column;
      }
      that.loading = true;
      axios
        .get(url)
        .then(({ data }) => {
          let headers = Object.keys(data[1]);

          headers = headers
            .filter(header => header)
            .map(header => {
              if (that.map && that.map[header]) {
                return {
                  text: that.map[header],
                  value: header
                };
              }
              return {
                text: header,
                value: header
              };
            });
          headers.unshift({
            text: "Ward",
            value: "ward",
            align: "left"
          });
          that.headers = headers;
          const items = Object.keys(data).map(ward => {
            const elem = data[ward];
            var toInsert = {};
            Object.keys(data[ward]).forEach(label => {
              if (!label) return;
              toInsert[label] = elem[label];
            });
            return {
              ward: "Ward " + ward,
              ...toInsert
            };
          });
          items.forEach(item => {
            headers.forEach(header => {
              if (!item[header.value]) {
                item[header.value] = 0;
              }
            });
          });
          that.items = items;
        })
        .finally(function() {
          // alert("done thing")
          that.loading = false;
        });
    },

    save_csv: function(csv, filename) {
      var blob = new Blob([csv], { type: "text/csv;charset=utf-8;" });
      if (navigator.msSaveBlob) {
        navigator.msSaveBlob(blob, filename);
      } else {
        var link = document.createElement("a");
        if (link.download !== undefined) {
          var url = URL.createObjectURL(blob);
          link.setAttribute("href", url);
          link.setAttribute("download", filename);
          link.style.visibility = "hidden";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        }
      }
    },

    download: function() {
      const that = this;
      json2csv(that.items, function(err, csv) {
        if (err) return;
        that.save_csv(csv, (that.name || that.title) + ".csv");
      });
    }
  }
};
</script>

<style>
</style>